.Toolbar{
    position: fixed;
    width: 100%;
    background-color:#b00300;
    top:0;
    left:0;
    height: 70px;
    z-index: 1;
    margin: auto;
    }
    .spacer{
        flex:-1;
        width:20px;
    }
    .toolbar_logo a{
            color:white;
            text-decoration: none;
            font-size: 1.5rem;
    
    }
    img {
      width:auto;
      max-height:70px;
      padding-left: 90px;
  }
    .toolbar_navigation{
        display: flex;
        align-items:center;
        height: 100%;
        padding: 0 0rem 0rem;
        color:black
    }
    .uli{
        list-style:none;
        margin:40px;
        padding:0;
        display:flex;
    }
    .lii {
        padding: 0 0 0.5 rem;
        margin:20px
        
        }
    .lii a{
            color:white;
            text-decoration: none;
            outline: transparent;
    }
    
    .toolbar_navigation-items a:hover,
    .toolbar_navigation-items a:active{
                color:black;
    
    }
    


      .container {
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: #222!important;
      }
      @media (min-width: 768px) {
        .container {
          width: 750px;
        }
      }
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
      }
* {
 box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
      
[class*="col-"] {
    width: 100%;
}
      
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } 
  @media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } 
  .soccer-list2 {
    list-style: none;
    border:none;
    border-color: inherit;
    color: white;
    
 }
 li{
  /* with fix for IE */
  display:inline;
  display:inline-block;
  zoom:0;
  color: white;
 }
 .naslov{
   color: white;
 }
 button:active{
  border:transparent ;
}
.dropdown-container {
display: none;
padding-left: 8px;
}
.bttn1 {
background-color: black;
width: 100%;
height: 50px;
padding: 0x 0px 0px;
margin: 0px 0px 0px;
color: white;
border-bottom: 1px solid #0f0f0f;
border-right: 1px solid #0f0f0f;
border-top: 1px solid #414141;
border-left: 1px solid #414141;
font-size: 1rem;
cursor: pointer;

}
.bttn1:hover{
  background-color:#222;
}
.bttn2{
background-color:#383737;;
width: 100%;
height: 60px;
padding-top: 0;
color:white !important; 
padding: 0x 0px 0px;
margin: 0px 0px 0px;
border-bottom: 1px solid #0f0f0f;
border-right: 1px solid #222;
border-top: 1px solid #222;
border-left: 1px solid #222;
font-size: 0.9rem;
cursor: pointer;

}
.bttn1:focus{
  outline: transparent;
  background-color:black;
 
}
.bttn2:focus{
  outline: transparent!important;

}
.bttn2 a:focus{
outline: transparent!important;
background-color:#383737!important;

}
.bttn2:hover{
  background-color: #222;
}
.li.a{
  background-color: #383737;
  border: none;
  list-style-type:none ;
  padding: 0x 0px 0px;
  margin: 0px 0px 0px;
  display: inline;
}
.sidebar1{

}
li{
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  }

  .App{
    background-color:white;
  }
  .App1{
background-color: #222;
  }
  .drzava-naziv{
    background-color: #b00300
 

  }

  .type1{
    border-bottom: 1px solid #0f0f0f;
    border-right: 1px solid #0f0f0f;
    border-top: 1px solid #414141;
    border-left: 1px solid #414141;
    background-color: #222;
  }
  .type1:focus{
    outline: transparent!important; 
  }

.bttn2 a{
  color: white;
  text-decoration: none;
  height: inherit !important;
  width: 100% !important;
}

.details1{
  color: white;
  border-bottom: 1px solid #0f0f0f;
  border-right: 1px solid #0f0f0f;
  border-top: 1px solid #414141;
  border-left: 1px solid #414141;

}
p{
  color: white;
  text-decoration: bold;
  height: 40px;
  background-color:#b00300 ;
  margin: 0px 0px 0px;
  font-size: 1.2rem;

}
.nazivTima{
  color: white;
  border-bottom: 1px solid #0f0f0f;
  border-right: 1px solid #0f0f0f;
  border-top: 1px solid  #0f0f0f;
  border-left: 1px solid  #0f0f0f;
  height: 40px;
  width: 100%;
  line-height: 40px;;
  
}
#h4{
  background-color: #b00300;
  color: white;
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;;
  
}
